.detail-page .detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.detail-page .detail-header-box{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    gap: 24px;
    margin: 0px;
}

.detail-page .main-wrapper {
    width: 78%;
    margin: 0 auto;
}

.detail-page .subheader{
    font-style: italic;
    margin-bottom: 0px;
    margin-right: 0px;
    display: flex;
}

.detail-page .upper-back-button {
    transition: 0.2s;
    width: 5.5rem;
    height: 3rem;
    border-radius: 50rem;
    border-width: 0.2rem;
    border-color: black;
    margin-left: 20px;
    background-color: black;
    color: white;
    float: right;
}

.detail-page .upper-back-button:hover {
    background-color: #d2d1d100;
    color: black;
}

.detail-page .upper-back-button:active {
    background-color: #c7c7c7;
}

.detail-page .article{
    white-space: pre-wrap;
}

.detail-page .video {
    border-radius: 36px;
    width: 100%;
}

.detail-page .gallery-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;    
}

.detail-page .gallery-header{
    margin-bottom: var(--content-gap-mobile);
}

/* Wide screen styling */
@media (min-width:1200px) {
    .detail-main{
        padding-top: var(--top-pading),174px;
    }

    .upper-back-button {
        width: 7.5rem;
        height: 3.4rem;
    }    

    .display-image {
        border-radius: 36px;
        margin-top: var(--content-gap-mobile);
        margin-bottom: var(--content-gap-desktop);
    }

    .article{
        margin-top: var(--content-gap-desktop);
        margin-bottom: var(--content-gap-desktop);
    }

    .video {
        margin-bottom: var(--content-gap-desktop);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-desktop);
    }
}

@media (min-width:640px) and (max-width: 1200px) {
    .main-wrapper {
        width: 99%;
        margin: 0 auto;
    }

    .detail-main{
        padding: var(--topPadding, 124px) var(--Gutter, 24px) 0px var(--Gutter, 24px);
    }

    .upper-back-button {
        width: 6.8rem;
        height: 3.4rem;
    }    

    .display-image {
        margin-top: var(--content-gap-mobile);
        margin-bottom: var(--content-gap-tablet);
    }

    .article{
        margin-top: var(--content-gap-tablet);
        margin-bottom: var(--content-gap-tablet);
    }

    .video {
        margin-bottom: var(--content-gap-tablet);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-tablet);
    }
}

@media (max-width:640px) {
    .main-wrapper {
        width: 99%;
        margin: 0 auto;
    }

    .detail-main{
        padding: var(--topPaddingMobile, 104px) var(--Gutter, 24px) 0px var(--Gutter, 24px);
    }

    .display-image {
        margin-top: var(--content-gap-mobile);
        margin-bottom: var(--content-gap-mobile);
    }

    .article{
        margin-top: var(--content-gap-mobile);
        margin-bottom: var(--content-gap-mobile);
    }

    .video {
        margin-bottom: var(--content-gap-mobile);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-mobile);
    }
}