/*#home, #home div, main {
    overflow: hidden;

}*/

#home {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    scroll-padding-top: 100px;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 101px);
    position: relative;
    top: 100px;
    z-index: 1;
}

.main-content {
    width: 100%;
}

.page-title {
    padding: 20px;
    font-size: 50px;
    margin: 0px;
}

.banner {
    width: 100vw;
    height: calc(100vh - 100px);
    background-image: url(../../img/banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.banner-wrapper {
    background-color: #1A1A1A;
}

.banner h1 {
    font-size: 14vw;
    color: white;
    z-index: 10;
    margin: 0px;
    line-height: 1.1;
}

.banner p {
    font-size: 3vw;
    color: white;
    z-index: 10;
}

@media (max-width: 700px) {
    .banner h1 {
        font-size: 20vw;
        color: white;
        z-index: 10;
        margin: 0px;
    }
    
    .banner p {
        font-size: 5vw;
        color: white;
        z-index: 10;
    }
}

.transparant-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: black;
    opacity: 0.5;
}

/* by brandon 6/9/2022 */
#home main section {
    width: 100%;
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.section-container {
    z-index: 11;

}

.section-wrapper {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

Footer {
    scroll-snap-align: start;
}

.container {
    max-width: 75%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 5;
  }

.container p {
    font-size: 1.4vw;
    line-height: 1.3;
    margin: 20px 0px;
}

@media (min-width: 1400px) {
    .container {
      max-width: 60%;
    }
}

@media (min-width: 1000px) {
    .section-title{
        margin-bottom: 4vh;
      }
}

@media (max-width: 600px) {
    .container p {
        font-size: 0.8rem;
    }
}

.section-transpararant-cover {
    background-color: white;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 1;
}

.about {
    background-image: url(../../img/tinkering.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.innovators {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.innovators-wrapper {
    background-image: url(../../img/lab-visit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.events-wrapper {
    background-image: url(../../img/escape-room.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width:1700px) {
    .innovators {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.innovators .texts {
    flex: 920;
}


.btn {
    width: 16.625rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: black solid 3px;
}

.reg-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.btn p, .view-all p {
    margin: 0
}

.view-all {
    transition: 0.2s;
    width: 14.4rem;
    height: 3.5rem;
    border-radius: 50rem;
    border-width: 0.2rem;
    border-color: #1A1A1A;
    margin: auto;
    background-color: #d2d1d100;
    position: absolute;
    left: calc(50% - 7.2rem);
    color: black;
}

.view-all:hover {
    background-color: black;
    color: white;
}

.view-all:active {
    background-color: #c7c7c7;
}

.home-carousel {
    margin: 10px 0px;
}

/* modification ends */