.home-page {
  display: flex;
  flex-direction: column;
}

.gutter {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin-left: auto;
    margin-right: auto;
}
  
.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  padding-top: var(--top-padding);
  padding-bottom: 240px;
  row-gap: 240px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--content-gap-desktop);
}

.banner {
  height: calc(100vh - var(--top-padding));
  min-height: 760px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.banner-space {
  display: flex;
  justify-content: space-between; /* Elements at opposite ends with space in between */
  align-items: flex-end;
  width: 100%; /* Adjust the width of the container as needed */
}

.banner-image {
  background-image: url(../../img/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2rem;
  width: 100%; /* Adjust the width of the container as needed */
  height: 100%;
  min-height: 640px;
}

.innovators-text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--content-gap-mobile);
  width: 100%;
}

.link-view-more {
  align-self: center;
}

.site-button {
  padding: 16px 64px;
  border-radius: 100px;
}

.outline {
  border: 4px solid var(--body);
  padding-top: 12px;
  padding-bottom: 12px;
}

.disabled {
  border: none;
}

.disabled p {
  color: var(--on-disabled);
}

@media (max-width: 1200px) {
  .scroll-more {
      display: none;
  }
  .section-wrapper {
    row-gap: var(--content-gap-tablet);
  }
  .banner {
    height: auto;
    min-height: unset;
  }
  .content-wrapper {
    row-gap: 180px;
    padding-bottom: 180px;
  }
}

@media (max-width: 640px) {
  .content-wrapper {
      padding-top: var(--top-padding-mobile);
  }
  .section-wrapper {
    row-gap: var(--content-gap-mobile);
  }
  .content-wrapper {
    row-gap: 90px;
    padding-bottom: 90px;
  }
  .banner-image {
    min-height: 320px;
  }
}