/* Card Styles */
.card {
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  background: white;
  position: relative;
}

.card-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  transition: transform 0.3s;
}

/* Adjust padding-top based on screen size */
@media (max-width: 768px) {
  .card-image {
    padding-top: 120%;
  }
}

@media (max-width: 576px) {
  .card-image {
    padding-top: 120%;
  }
}

.text-overlay {
  position: absolute;
  top: 20px; /* Adjust as needed to position the text */
  left: 23px; /* Adjust as needed to position the text */
  color: var(--body); /* Text color */
  z-index: 1; /* Ensure the text appears on top of the image */
  max-width: 50%;
}

/* Hover Effect */
.card:hover .card-image {
  transform: scale(1.02);
}

.card:hover {
  transform: scale(1.02); /* Scale the entire card */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
