.events-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 14vh;
}

.event-contents {
    width: 60%;
    margin-bottom: 5vw;
}

.event-heading {
    font-size: 10vw;
    padding: 0px, 10em;
    margin-top: 10px;
}

@media (max-width: 500px) {
    .event-contents {
        width: 80%;
    }
}

@media (min-width:501px) and (max-width: 700px) {
    .event-contents {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .event-heading {
        font-size: 15vw;
        padding: 0px, 10em;
    }
}
