.events-page .event-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.events-page .event-contents{
    width: 70%;
    margin: auto;
}

.events-page .event-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: var(--header-height);
    gap: 24px;
    margin: 0px;
}

.events-page .event-carousel
    {
        padding-top: var(--content-gap-mobile);
    }

@media (min-width: 1200px) {
    .event-main {
        padding-top: var(--top-pading),174px;
        gap: var(--content-gap-desktop, 174px);
    }

    .back-button {
        width: 251px;
        height: 62px;
        margin-bottom: var(--content-gap-desktop);
    }
}

@media (min-width:640px) and (max-width: 1200px) {
    .event-contents {
        width: 90%;
    }

    .event-main
    {
        padding-top: var(--top-pading),174px;
        gap: var(--content-gap-tablet, 100px);
    }

    .back-button {
        width: 230px;
        height: 57px;
        margin-bottom: var(--content-gap-tablet);
    }
}

@media (max-width: 640px) {
    .event-contents {
        width: 90%;
    }

    .event-main
    {
        padding-top: var(--top-padding-mobile),174px;
    }

    .back-button {
        width: 220px;
        height: 55px;
        margin-bottom: var(--content-gap-mobile);
    }
}

.events-page .back-button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-page .btn p, .back-button p {
    margin: 0
}

.events-page .back-button {
    transition: 0.2s;
    border-radius: 50rem;
    border-width: 0.2rem;
    border-color: black;
    background-color: black;
    position: relative;

    color: white;
    margin-top: var(--content-gap-mobile);
}

.events-page .upper-back-button {
    transition: 0.2s;
    width: min(100px,12vw);
    height: min(45px,14vh);
    border-radius: 50rem;
    border-width: 0.2rem;
    border-color: black;
    margin-left: 20px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
}
.events-page .upper-back-button:hover {
    background-color: #d2d1d100;
    color: black;
}

.events-page .upper-back-button:active {
    background-color: #c7c7c7;
}