/* Grid Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set 3 columns per row */
  justify-content: center;
  gap: 1.5rem;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(
      2,
      1fr
    ) !important; /* Change to 2 columns per row on smaller screens */
    gap: 1.5rem !important;
  }
  /* You can further adjust the styles for smaller screens if needed */
}

@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(
      1,
      1fr
    ) !important; /* Change to 2 columns per row on smaller screens */
    gap: 1.5rem !important;
  }
  /* You can further adjust the styles for smaller screens if needed */
}
