.link-preview {
  background-color: var(--white);
  color: var(--body);
  display: flex;
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.link-preview:hover {
  color: var(--body);
}

.link-preview:link {
  text-decoration: none;
}

.link-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-preview img {
  width: 128px;
  border-radius: 1.5rem;
  height: 100%;
}
