.detail-page .detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: var(--topPadding, 124px);
}

.detail-page .main-wrapper {
    width: 78%;
    margin: 0 auto;
}

.detail-page .article{
    white-space: pre-wrap;
}

.detail-page .video {
    border-radius: 36px;
    width: 100%;
}

.detail-page .gallery-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;    
}

.detail-page .gallery-header{
    margin-bottom: var(--content-gap-mobile);
}

/* Wide screen styling */
@media (min-width:1200px) {
    .detail-main{
        padding-top: var(--top-pading),174px;
    }

    .article{
        margin-top: var(--content-gap-desktop);
        margin-bottom: var(--content-gap-desktop);
    }

    .video {
        margin-bottom: var(--content-gap-desktop);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-desktop);
    }
}

@media (min-width:640px) and (max-width: 1200px) {
    .main-wrapper {
        width: 99%;
        margin: 0 auto;
    }

    .detail-main{
        padding: var(--topPadding, 124px) var(--Gutter, 24px) 0px var(--Gutter, 24px);
    }

    .article{
        margin-top: var(--content-gap-tablet);
        margin-bottom: var(--content-gap-tablet);
    }

    .video {
        margin-bottom: var(--content-gap-tablet);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-tablet);
    }
}

@media (max-width:640px) {
    .main-wrapper {
        width: 99%;
        margin: 0 auto;
    }

    .detail-main{
        padding: var(--topPaddingMobile, 104px) var(--Gutter, 24px) 0px var(--Gutter, 24px);
    }

    .article{
        margin-top: var(--content-gap-mobile);
        margin-bottom: var(--content-gap-mobile);
    }

    .video {
        margin-bottom: var(--content-gap-mobile);
    }

    .gallery-box{
        margin-bottom: var(--content-gap-mobile);
    }
}