.detail-header-button{
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 3px solid black;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  gap: 4px;
}

.detail-header-button:hover {
  background-color: lightgrey;
}

.detail-header-button-back {
  color: #1A1A1A;
}

.detail-back-button img{
  width: 1rem;
}

.detail-back-button button{
  display: flex;
  justify-content: center;
  align-items: center;
}