.modal {
  position: fixed;
  opacity: 0;
  z-index: 9;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.below {
  z-index: 1;
}
