.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  transition: background-color 0.4s, filter 0.4s;
  background-color: var(--background);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--content-gap-mobile);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  gap: var(--content-gap-mobile);
}

.navlink {
  color: var(--body);
  position: relative;
  display: block;
}

.navlink:hover {
  color: var(--body);
}

.navlink::after {
  position: absolute;
  content: "";
  display: block;
  transition: width 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  height: 2px;
  background-color: var(--body);
  width: 0%;
}

.navlink:hover::after {
  width: 100%;
}

.button {
  background-color: transparent;
  padding: 0;
  border: none;
}

.drawer {
  width: 100%;
  overflow: hidden;
}

.drawer-inner {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shadow {
  background-color: var(--white);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.separator {
  height: 1px;
  background-color: var(--outline);
  width: 0;
}
