/* by brandon 6/14/2022 */
footer {
    background-color: #284D89;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-width: 480px;
}

footer .footer-wrapper {
    max-width: 1440px;
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 3rem;
}

footer .texts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
}

footer p {
    color: #FFFFFF;
}

footer .social-media {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

footer .social-media .media-buttons {
    display: flex;
    gap: 0.75rem;
}

footer img {
    width: 100%;
    height: 100%;
}

footer .social-media a {
    transition: .3s ease;
    width: 2.25rem;
    height: 2.25rem;
}

footer .social-media a:hover {
    opacity: 0.6;
}