.main-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: var(--top-padding);
    gap: var(--content-gap-desktop);
    padding-bottom: var(--content-gap-desktop);
}

@media (max-width: 1200px) {
    .main-wrapper {
        gap: var(--content-gap-tablet);
        padding-bottom: var(--content-gap-tablet);
    }
}
  
@media (max-width: 640px) {
    .main-wrapper {
        gap: var(--content-gap-mobile);
        padding-bottom: var(--content-gap-mobile);
    }
}



