/* OVERALL STYLING */
* {
  box-sizing: border-box;
  scrollbar-color: var(--table-disabled) var(--background)
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background : #F6F6F6;
}

:root {
  --grage-blue: #284D8A;
  --white: #FFFFFF;
  --body: #1A1A1A;
  --background: #F6F6F6;
  --outline: #CBCBCB;
  --disabled: #D9D9D9;
  --on-disabled: #737373;
  --error: #E10D0D;
  --table-disabled: #A3B4CC;
  --table-accent: #E5F1FF;

  --max-width: 1440px;
  --min-width: 480px;
  --gutter: 24px;
  --content-gap-desktop: 100px;
  --content-gap-tablet: 60px;
  --content-gap-mobile: 40px;
  --top-padding: 60px;
  --top-padding-mobile: 40px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-family: 'Lexend Deca';
}

h1, h2, h3, h4 {
  font-family: 'Lexend Deca';
  font-style: normal;
  color: #1A1A1A;
}

h2 {
  font-weight: 500;
  font-size: 5.5vw;
  line-height: 1;
  text-transform: uppercase;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
}


@media (max-width: 576px) {
  h2 {
    font-weight: 500;
    font-size: 10vw;
    line-height: 10vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}