.content {
  height: calc(100vh - var(--top-padding));
  min-height: 760px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
  gap: var(--content-gap-mobile);
}

.heading-space {
  display: flex;
  justify-content: space-between; /* Elements at opposite ends with space in between */
  flex-wrap: wrap;
  align-items: center;
  width: 100%; /* Adjust the width of the container as needed */
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.form-input {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 2px solid var(--outline);
  background: var(--white, #FFF);
}

.form-input-invalid {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 2px solid var(--error);
  background: var(--white, #FFF);
}

.error-message {
  color: var(--error);
}

.hidden {
  display:none;
}

@media (max-width: 1200px) {
  .content {
    height: auto;
    min-height: unset;
  }
}
